/* src/app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  color: #2d3748;
}

a {
  color: #319795;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
